<div class="nested-fields">
	<div class="form-group">
    <%= f.label :Answer %></br>
    <%= f.text_field :title, class: 'form-control' %>
   <%= link_to_remove_association "remove answer", f %>
  	</div>
</div>
